<template>
  <div class="flex flex-col space-y-10"
       v-for="course in courses"
       :key="course._id">
    <course-card
      :course-id="course._id"
      :title="course.title"
      :description="course.description"
      :image-url="course.imageUrl">
    </course-card>
  </div>
  <div v-if="isLoading" class="flex flex-col my-6 items-center h-72">
    <list-loading-animation></list-loading-animation>
  </div>
</template>

<script>
import { ref, onBeforeMount } from 'vue';
import api from '@/service/api';
import ListLoadingAnimation from '@/components/common/ListLoadingAnimation.vue';
import CourseCard from '@/components/course/CourseCard.vue';

export default {
  name: 'CourseList',

  components: {
    CourseCard,
    ListLoadingAnimation,
  },

  props: {
    projectId: {
      type: String,
      required: true,
    },
  },

  setup(props) {
    const courses = ref([]);
    const isLoading = ref(false);

    const fetchCourses = async () => {
      const apiUrl = '/course/courses';
      const currentPage = 1;
      const limit = 5;
      try {
        const response = await api().get(`${apiUrl}?projectId=${props.projectId}&limit=${limit}&page=${currentPage}`);
        courses.value = [
          ...courses.value,
          ...response.data.courses,
        ];
      } catch (err) {
        // TODO: error kezelés
      }
    };

    onBeforeMount(async () => {
      isLoading.value = true;
      await fetchCourses();
      isLoading.value = false;
    });

    return {
      courses,
      isLoading,
    };
  },
};
</script>
