<template>
  <div class="flex flex-col space-y-10"
       v-for="project in projects"
       :key="project._id">
    <project-card
      :project-id="project._id"
      :title="project.title"
      :image-url="project.imageUrl"
      :description="project.description">
    </project-card>
  </div>
  <div v-if="isLoading" class="flex flex-col my-6 items-center h-72">
    <list-loading-animation></list-loading-animation>
  </div>
</template>

<script>
import { ref, onBeforeMount } from 'vue';
import api from '@/service/api';
import ListLoadingAnimation from '@/components/common/ListLoadingAnimation.vue';
import ProjectCard from '@/components/project/ProjectCard.vue';

export default {
  name: 'ProjectList',

  components: {
    ProjectCard,
    ListLoadingAnimation,
  },

  setup() {
    const projects = ref([]);
    const isLoading = ref(false);

    const fetchProjects = async () => {
      const apiUrl = '/project/projects';
      const currentPage = 1;
      const limit = 5;
      try {
        const response = await api().get(`${apiUrl}?limit=${limit}&page=${currentPage}`);
        projects.value = [
          ...projects.value,
          ...response.data.projects,
        ];
      } catch (err) {
        // TODO: error kezelés
      }
    };

    onBeforeMount(async () => {
      isLoading.value = true;
      await fetchProjects();
      isLoading.value = false;
    });

    return {
      projects,
      isLoading,
    };
  },
};
</script>
