<template>
  <div v-if="!isLoading" class="flex flex-col items-center mb-8 space-y-8">
    <div class="flex flex-col w-full justify-center items-center
                bg-gradient-to-b from-cyan-500 to-blue-700">
      <div class="md:flex-row max-w-6xl my-8 px-4 space-y-8
                  justify-center items-center text-center">
        <div class="w-full text-xl text-manocska bg-gray-100
                    pt-2 pb-2 rounded-lg text-center">
          {{ project.title }}
        </div>
        <div class="w-full text-xl text-manocska bg-white
                    pt-2 pb-2 rounded-lg">
          <img :alt="project.title"
               :src="project.imageUrl"
               class="lg:w-3/4 xl:w-1/2 rounded-lg m-auto"/>
        </div>
        <div class="text-sm text-gray-200 text-left">{{ project.description }}</div>
      </div>
    </div>
    <div class="flex flex-col w-full justify-center items-center">
      <div class="max-w-6xl w-full px-4 space-y-8
                  justify-center items-center text-center">
        <div class="text-l bg-manocska text-gray-100 pt-2 pb-2 rounded-lg text-center">
          {{ $t('project.projectDetails.courses') }}
        </div>
        <div>
          <course-list :project-id="project._id"></course-list>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import api from '@/service/api';
import CourseList from '@/components/course/CourseList.vue';

export default {
  name: 'ProjectDetails',

  components: {
    CourseList,
  },

  setup() {
    const project = ref([]);
    const isLoading = ref(false);
    const route = useRoute();

    const fetchProject = async () => {
      const apiUrl = `/project/${route.params.projectId}`;
      try {
        const response = await api().get(apiUrl);
        project.value = response.data.project;
      } catch (err) {
        // TODO: error kezelés
      }
    };

    onBeforeMount(async () => {
      isLoading.value = true;
      await fetchProject();
      isLoading.value = false;
    });

    return {
      project,
      isLoading,
    };
  },

};
</script>
