<template>
  <div class="flex flex-col">
    <project-details></project-details>
  </div>
</template>

<script>
import ProjectDetails from '@/components/project/project-details/ProjectDetails.vue';

export default {
  name: 'ProjectDetailsView',

  components: {
    ProjectDetails,
  },
};
</script>
