<template>
  <div class="flex flex-col">
    <course-details></course-details>
  </div>
</template>

<script>
import CourseDetails from '@/components/course/course-details/CourseDetails.vue';

export default {
  name: 'CourseDetailsView',

  components: {
    CourseDetails,
  },
};
</script>
