<template>
  <div v-if="!isLoading">
    <course-card
      :course-id="course._id"
      :title="course.title"
      :description="course.description"
      :image-url="course.imageUrl">
    </course-card>
  </div>
</template>

<script>

import { onBeforeMount, ref } from 'vue';
import { useRoute } from 'vue-router';
import api from '@/service/api';
import CourseCard from '@/components/course/CourseCard.vue';
import { useMeta } from 'vue-meta';

export default {
  name: 'CourseDetails',

  components: {
    CourseCard,
  },

  setup() {
    const course = ref([]);
    const isLoading = ref(false);
    const route = useRoute();

    const { meta } = useMeta({
      title: 'Loading...',
    });

    const fetchCourse = async () => {
      const apiUrl = `/course/${route.params.courseId}`;
      try {
        const response = await api().get(apiUrl);
        course.value = response.data.course;
        meta.title = course.value.title;
      } catch (err) {
        // TODO: error kezelés
      }
    };

    onBeforeMount(async () => {
      isLoading.value = true;
      await fetchCourse();
      isLoading.value = false;
    });

    return {
      course,
      isLoading,
    };
  },
};
</script>
