<template>
  <div class="flex flex-col">
    <div class="flex justify-center bg-gradient-to-b from-cyan-500 to-blue-700">
      <home-first />
    </div>
    <div class="flex justify-center bg-gray-100">
      <home-second />
    </div>
  </div>
</template>

<script>
import HomeFirst from '@/components/home/HomeFirst.vue';
import HomeSecond from '@/components/home/HomeSecond.vue';

export default {
  name: 'HomeView',

  components: {
    HomeFirst,
    HomeSecond,
  },
};
</script>
