<template>
  <div id="projects"
       class="flex flex-col md:flex-row my-8 px-4
              justify-center items-center">
      <project-list></project-list>
  </div>
</template>

<script>
import ProjectList from '@/components/project/ProjectList.vue';

export default {
  name: 'HomeFirst',

  components: {
    ProjectList,
  },

};
</script>
