<template>
  <div class="flex">
    <div class="h-4 w-4 bg-green-400 rounded-full mr-1 animate-bounce"></div>
    <div class="h-4 w-4 bg-red-700 rounded-full mr-1 animate-bounce200"></div>
    <div class="h-4 w-4 bg-blue-700 rounded-full animate-bounce400"></div>
  </div>
</template>

<script>
export default {
  name: 'ListLoadingAnimation',
};
</script>
