<template>
  <div class="flex flex-col h-screen">
    <metainfo>
      <template v-slot:title="{ content }">{{ content ? `${content} |
                              ${$t('title.short')}` : `${$t('title.long')}` }}
      </template>
    </metainfo>
    <header>
      <navbar />
    </header>
    <main class="flex-grow">
      <router-view />
    </main>
    <footer>
      <footer-bar />
    </footer>
  </div>
</template>

<script>
import { useMeta } from 'vue-meta';
import Navbar from '@/components/NavBar.vue';
import FooterBar from '@/components/FooterBar.vue';

export default {
  name: 'App',

  components: {
    Navbar,
    FooterBar,
  },

  setup() {
    useMeta({
      title: '',
    });
  },
};
</script>
