<template>
  <financial-statements />
</template>

<script>
import FinancialStatements from '@/components/documents/FinancialStatements.vue';

export default {
  name: 'FinancialStatementsView',

  components: { FinancialStatements },
};
</script>
