@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --color-manocska: #e36940;
}

@tailwind base;

html {
    font-family: Montserrat, sans-serif;
}

@tailwind components;
@tailwind utilities;
